.developers {
  margin: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Solid black background */
  color: white;
  text-align: center;
  padding: 20px;
}

.developers h1 {
  margin: 500px;
  font-size: 1.5rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }
}
