.sagetitle h1{
    margin: 0 350px;
}
h3{
    font-size: 32px;
}

.sagetitle{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.sagetitle ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 30px 0;
    border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
}
.mobileapp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problemsolution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
}
.problemsolution li{
    font-weight: 700;
}
.problemhead{
    text-align: center;
}
.statement1{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}
.statement2{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}
.statement3{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}
.research{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 240px;
}
.italic{
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}
.analysis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 240px;
}
.analysisimages{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}
.interview{
    display: flex;
    flex-direction: column;
    margin: 100px 240px;  
}
.interview li{
    margin: 20px 0;
}
.major{
    margin: 0 250px;
}
.major h1{
    text-align: center;
}
.insights{
    display: flex;
    margin: 100px 250px;
   justify-content: center;
}
.insights img{
    width: 300px;
}
.changes{
    display: flex;
    flex-direction: column;
    margin: 0 240px;
}
.changes1{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
}
.changes2{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
}
.changes3{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 100px 0;
}
.finalsage{
    margin: 50px 240px;
    display: flex;
    flex-direction: column;
}
.finals{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px 240px;
}
.finals img{
    width: 250px;
}
.end{
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 150px 0;
}