p{
    font-size: 18px;
}
<<<<<<< HEAD
.nicotrolcotrol li{
=======
li{
>>>>>>> 542a5e4eb4db2f99689bfdb4322f88e3b142d512
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 30px;
}
h4{
    color: gray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.nicobanner{
<<<<<<< HEAD
    margin: 50px 150px ;
=======
    margin: 250px 250px 0 ;
>>>>>>> 542a5e4eb4db2f99689bfdb4322f88e3b142d512
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nicoinfo{
<<<<<<< HEAD
    margin: 50px 150px ;
=======
    margin: 0 250px;
>>>>>>> 542a5e4eb4db2f99689bfdb4322f88e3b142d512
}
.nicoinfo ul{
    display: flex;
    justify-content:space-around;
    padding: 30px;
    align-items: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    margin-top: 50px;
}
.nicooverview{
    margin: 150px 250px 0;
}
.prostatement{
    margin: 100px 250px ;

}
.problemcards{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    text-align: center;
}
.nicoprocess{
    margin: 0 250px;
}
.one1{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 350px;
}
.nicopara{
    margin-left: 320px;
}
.nicoimages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
<<<<<<< HEAD
=======
    height: 100vh; 
    margin-bottom: 100px;
>>>>>>> 542a5e4eb4db2f99689bfdb4322f88e3b142d512
}

.nicoimages img {
    max-width: 100%; 
    height: auto;    
    padding: 10px;
}
.final{
    margin: 0 250px;
}
