p{
    font-size: 18px;
}
.nicotrolcotrol li{
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 30px;
}
h4{
    color: gray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

.nicobanner{
    margin: 50px 150px ;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nicoinfo{
    margin: 50px 150px ;
}
.nicoinfo ul{
    display: flex;
    justify-content:space-around;
    padding: 30px;
    align-items: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    margin-top: 50px;
}
.nicooverview{
    margin: 150px 250px 0;
}
.prostatement{
    margin: 100px 250px ;

}
.problemcards{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    text-align: center;
}
.nicoprocess{
    margin: 0 250px;
}
.one1{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 350px;
}
.nicopara{
    margin-left: 320px;
}
.nicoimages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.nicoimages img {
    max-width: 100%; 
    height: auto;    
    padding: 10px;
}
.final{
    margin: 0 250px;
}
