.jaxtitle h1{
    margin: 0 350px;
}
h3{
    font-size: 32px;
}
.jaxtitle{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.jaxtitle ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 30px 0;
    border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}
.jaxintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
    margin-bottom: 50px;
}
.aboutjax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
    margin-bottom: 50px;
}
.process{
    display: flex;
    flex-direction: column;
    margin: 0 240px;
    margin-bottom: 50px; 
}
.processimg{
    display: flex;
    justify-content: center;
}
.process img{
    width: 500px;
}
.finalscreensintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
    margin-bottom: 50px;
}
.finalscreensintro h1{
    text-align: center;
}
.jaxscreen{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.prosol{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 100px 0;
}
.prosol .container{
    padding: 20px;
    background-color: #D9EEFB;
}
.container p{
    font-size: 16px;
}
.walking{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.walking img{
    width: 250px;
}
.targetusers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 240px;
}
.users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
}
.top{
    display: flex;
    align-items: center;
}
.vet{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.vet img{
    width: 250px;
}
.market{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
    margin-bottom: 50px; 
}
.competion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
    margin-bottom: 50px; 
}
.cases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 100px 240px;
    margin-bottom: 50px; 
}
.cases h3{
    text-align: center;
}
.case1{
    display: flex;
    margin: 50px 0;
}
.case2{
    display: flex;
    margin: 50px 0;
}
.case3{
    display: flex;
    margin: 50px 0;
}
.needs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 240px;
    margin-bottom: 50px; 
}
.takeaways{
    margin: 100px 240px;
 
}
.jaxkeyup{
    display: flex;
    justify-content: center;
    gap: 50px;
}
 h5{
   font-size: 18px;
}
.jaxkeyup .container{
    padding: 20px;
    background-color: lightblue;
}
.jaxconclusions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
}
