p{
    font-size: 18px;
}
li{
    font-weight: bold;
    font-size: 18px;
}
h4{
    color: gray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.jax{
    margin: 50px 150px;
}
.jaxbanner{
    margin: 50px 100px;}
    
.jax h1{
    text-align: center;
}

.jaxbanner ul{
    display: flex;
    justify-content:space-around;
    padding: 30px;
    align-items: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    margin-top: 50px;
}
.jaxintro {
    margin: 50px 50px;
}
.aboutjax{
    margin: 50px 50px;
}
.process{
    margin: 50px 50px;
}
.process img{
    width: 500px;
}
.processimg{
    display: flex;
    justify-content: center;
}
.finalscreensintro h2{
    text-align: center;
    margin: 50px 0;
}
.jaxscreen{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.prosol{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 100px 0;
}
.container{
    padding: 10px 10px;
    background-color: rgb(235, 255, 255);
}
.walking{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
}
.vet{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
}
.walking img{
    width: 300px;
}
.vet img{
    width: 300px;
}
.top{
    display: flex;
    justify-content: center;
}
.mid{
    padding: 30px 0;
}
.market{
    margin: 50px 150px;
}
.competion{
    margin: 50px 150px;

}
.spot{
    display: flex;
    justify-content: center;
}
.cases{
    margin: 50px 150px;

}
.needs{
    margin: 50px 150px;

}
.cases h3{
    text-align: center;
}
.case1{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    padding-bottom: 30px;
}
.case2{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    padding-bottom: 30px;
}
.case3{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    padding-bottom: 30px;
}
.jaxkey{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.lefttake{
    padding: 20px 20px 20px 20px;
    background-color:rgb(227, 255, 223);
}
.righttake{
    padding: 20px 20px 20px 20px;
    background-color:rgb(227, 255, 223);
}
.jaxconclusions{
    margin: 50px 150px;

}