p{
    font-size: 18px;
}
    li{
        font-weight: 300;
        font-size: 18px;
    }
h4{
    color: gray;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
.calctitle{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.calctitle ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 30px 0;
    border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}
.calcintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
}
.calctarget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
}
.calcsteps{
    display: flex;
    justify-content: center;
}
.designproblem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
}
.designsolutions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
}
.solutions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
}
.approvable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
}
.importanceof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 240px;
}
.understanding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 240px;
}
.explaination{
    margin-top: 100px;
}

.left{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
    padding: 20px;
    background-color: #F6F5DC;
}
.right{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
    padding: 20px;
    background-color: #F6F5DC;
}
.challenges{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 240px;
}
.mobilechallenges{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 50px 240px;
    text-align: center;
}
.mobilechallenges h2{
    margin: 50px;
    font-size: 30px;
}

.up{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}
.down{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}
.takeaways{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 240px;
}
.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 100px 0;
}
.conclusions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 240px;
}
.lefttake{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 20px;
    background-color: beige;
}
.righttake{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 20px;
    background-color: beige;
}
