.calcmenu {
    margin: 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcmenu p {
    font-size: 20px;
    line-height: 1.6; 
    color: #333; 
    width: 100%; 
    margin: 20px auto; 
    text-align: justify;
}

.calcmenu h4 {
    font-size: 20px;
    font-style: italic;
    color: gray;
    border-bottom: 1px solid gray;
    padding-top: 50px;
    padding-bottom: 10px; 
    width: 100%; 
    text-align: left;
}

.calcbanner h1{
    text-align: center;
}

.calcbanner img {
        border-radius: 20px;
}
.calcbanner ul{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: start;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
 }
 
 .calcsteps{
    display: flex;
    justify-content: center;
 }

 .solutions,
 .approvable,
 .understanding, .whole, .conclusions{
     margin: 50px 0;
     text-align: center;
 }
 
 
 .explaination{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #F1E5FF;
    padding: 50px;
 }

 .takeaways {
   margin: 10px 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   background: #ffffff; 
   border-radius: 10px; 
   box-shadow: 0px 4px 10px #777777; 
   padding: 50px;
}

.key{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding: 50px;
}


.leftimage, .rightimage{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 50px;
   align-items: center;
   padding-bottom: 50px;
   }

 .middle{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
 }
 .left, .right{
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 50px;
 align-items: center;
 padding-bottom: 50px;
 }

 .right img{
    width: 350px;
 }
 .left img{
    width: 450px;
 }

 .up{
   
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
 }

 .down{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
 }

 .mobilechallenges{
   text-align: center;
 }

 .mobilescreens{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
 }

 .whole p{
   font-size: 18px;
 }

 .whole h5{
   font-size: 18px;
 }
 