.designers {
<<<<<<< HEAD
  margin: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Solid black background */
  color: white;
  text-align: center;
  padding: 20px;
}

.designers h1 {
  margin: 500px;
  font-size: 1.5rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }
}
=======
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: 
      radial-gradient(circle, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05)),
      radial-gradient(circle, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1));
    background-size: 50px 50px;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .designers h1 {
    margin: 500px;
    font-size: 2rem;
    line-height: 1.4;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  }
  
  
  
>>>>>>> 542a5e4eb4db2f99689bfdb4322f88e3b142d512
