.home {
    padding: 20px;
    background-color: #000000;
}

.home-header {
    text-align: center;
    padding: 50px 20px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    max-width: 1200px;
}

.home-header p {
    margin: 0 250px;
    text-align: left;
}

.home-header h1 {
    font-size: 2.5rem;
    text-align: left;
    margin: 0 250px;
    margin-bottom: 25px;
}

.home-header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-header .btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: #ff6347;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.home-header .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    background: linear-gradient(45deg, white, blue, yellow, green);
    z-index: -1;
    transition: transform 0.3s ease;
    transform: scale(0);
}

.home-header .btn:hover::before {
    transform: scale(1);
}

.home-about, .home-projects {
    margin: 20px auto;
    max-width: calc(100% - 500px);
    padding: 20px;
}

.image {
    border-radius: 8px;
}

.image img {
    width: 50%;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.home-about h2, .home-projects h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.project-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.project-card {
    background: rgb(0, 0, 0);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}

.intro {
    padding: 10px;
    background-color: black;
}

.intro h1 {
    color: white;
}

.intro h3 {
    color: gray;
    font-size: 1rem;
    font-style: italic;
}

.intro p {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.btn {
    position: relative;
    align-items: center;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: #211F60;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    background: linear-gradient(45deg, white, blue, yellow, green);
    z-index: -1;
    transition: transform 0.3s ease;
    transform: scale(0);
}

.btn:hover::before {
    transform: scale(1);
}

@media (max-width: 768px) {
    .home-header p, .home-header h1 {
        margin: 0 20px;
        text-align: center;
    }

    .home-header h1 {
        font-size: 2rem;
    }

    .home-about, .home-projects {
        max-width: 100%;
    }

    .project-cards {
        grid-template-columns: 1fr;
    }

    .project-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .image img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .home-header h1 {
        font-size: 1.8rem;
    }

    .home-header p {
        font-size: 0.9rem;
    }
}
